name: Docker Image CI

on: 
  schedule:
    - cron: '0 0 * * 1' # Every Monday at midnight UTC
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Docekr Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker Hub login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build and push Docker Image
      uses: docker/build-push-action@v5
      with:
        platforms: linux/amd64,linux/amd64/v2,linux/amd64/v3,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x,linux/arm/v7,linux/arm/v6
        context: .
        push: true
        tags: ryanwhowe/debian-dev:latest
